*.c    text eol=lf
*.h    text eol=lf
*.md   text eol=lf
*.json text eol=lf
*.yml  text eol=lf
*.html text eol=lf
*.cfg  text eol=lf
*.cmake text eol=lf
*.txt  text eol=lf
LICENSE text eol=lf
Makefile text eol=lf
*.mk   text eol=lf
*.py   text eol=lf
sdkconfig* text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.clangd text eol=lf
*.lock text eol=lf
